body {
    /*
    background-image: url(https://cdnb.artstation.com/p/assets/video_clips/images/029/066/495/large/petar-rusev-thumb.jpg?1596363145);
    */
    
}

#main, #description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#survey-form label input {
    display: flex;
    flex-direction: column;
    width:400px;
}

